.navbar {
    background-color: #F76902;
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: CoreFont;
    font-size: large;
    vertical-align: top;
    margin-top: -1.6%;
}
.spacer {
    padding-bottom: 15px;
}

@font-face {
font-family: 'CoreFont';
src: local('Grota'), url(./GrotaRoundedBold.otf) format('opentype');
}
